@import "vars";
@import "mixins";

.container {
  width: 100%;
  margin: 0 auto;
  // padding-left: $padding-sm;
  // padding-right: $padding-sm;

  @include small-mobile {
    max-width: 100%;
  }

  @include mobile {
    max-width: 100%;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include tablet {
    max-width: 720px;
    // padding-left: $padding-md;
    // padding-right: $padding-md;
  }

  @include desktop-lg {
    max-width: 970px;
    // padding-left: $padding-lg;
    // padding-right: $padding-lg;
  }

  @include desktop-xl {
    max-width: 1680px;
    // padding-left: $padding-xl;
    // padding-right: $padding-xl;
  }

  @include desktop-2k {
    max-width: 2400px;
    // padding-left: $padding-xl * 1.5;
    // padding-right: $padding-xl * 1.5;
  }

  @include desktop-5k {
    max-width: 3840px;
    // padding-left: $padding-xl * 2;
    // padding-right: $padding-xl * 2;
  }

  &--no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include tablet {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include desktop-lg {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include desktop-xl {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include desktop-2k {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include desktop-5k {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
