@import "vars";
@import "mixins";

.dropdown {
  position: relative;
  width: 315px;
  padding: 6px 12px;
  border: 2px solid map-get($colors, "red");
  border-radius: 16px;
  background-color: map-get($colors, "white");
  user-select: none;
  text-align: center;
  // transition: 0.2s;
  transition: all ease-in-out 0.5s;

  &--opened {
    box-shadow: 0 3px 24px #00000029;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, "red");
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;

    &-content {
      position: relative;
      flex: 1;

      &:after {
        display: none;
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: map-get($colors, "red");
    transition: transform 0.3s ease;
    flex-shrink: 0;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: absolute;
    right: 0;
    top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background-color: map-get($colors, "white");
    box-shadow: 0 5px 10px #0000001a;
    border-radius: 10px;
    padding: 10px;
  }

  &__item {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, "black");
    cursor: pointer;
    text-align: center;
    background: none;
    border: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      font-weight: map-get($font-weight, "black");
      color: map-get($colors, "red");
    }
  }
}
