@import "vars";
@import "mixins";

.faq {
  scroll-snap-align: start;
  // padding-top: 75px;
  // padding-bottom: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include content-alignment(0);

  // @include tablet {
  //   padding-top: 100px;
  //   padding-bottom: 230px;
  // }

  // @include desktop-lg {
  //   padding-top: 45px;
  //   padding-bottom: 158px;
  // }

  // @include desktop-xl {
  //   padding-top: 82px;
  //   padding-bottom: 76px;
  // }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet {
      max-width: 100%;
    }

    @include desktop-lg {
      max-width: 100%;
    }

    @include desktop-xl {
      max-width: 100%;
    }

    @include desktop-2k {
      max-width: 100%;
    }

    @include desktop-5k {
      max-width: 100%;
    }
  }

  &__delimiter {
    height: 3px;
    width: 160px;
    background: map-get($colors, "red");
  }

  &__title {
    margin: 57px 0 50px;
    font-size: 24px;
    line-height: 30px;
    color: map-get($colors, "black-secondary");
    font-weight: map-get($font-weight, "black");

    @include tablet {
      margin: 50px 0 40px;
      font-size: 36px;
      line-height: 45px;
    }

    @include desktop-lg {
      margin: 33px 0 47px;
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-xl {
      margin: 33px 0 70px;
      font-size: 42px;
      line-height: 53px;
    }
  }

  &__accordion-wrapper {
    width: 100%;
  }

  &__accordion {
    border-bottom: 1px solid map-get($colors, "table-grey");
    padding-bottom: 30px;
    margin: 0 0 20px;

    .accordion__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      font-weight: map-get($font-weight, "black");
      color: map-get($colors, "black-secondary");
      font-size: 17px;
      line-height: 21px;

      svg {
        margin-left: 15px;
        width: 35px;
        height: 35px;
        min-width: 35px;
      }

      .btn-area {
        position: relative;
        .show {
          position: absolute;
          opacity: 1;
          transition: opacity 0.5s ease-in-out;
          -moz-transition: opacity 0.5s ease-in-out;
          -webkit-transition: opacity 0.5s ease-in-out;
        }
        .hide {
          position: absolute;
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
          -moz-transition: opacity 0.5s ease-in-out;
          -webkit-transition: opacity 0.5s ease-in-out;
        }
        .hidden {
          opacity: 0;
          display: inline;
        }
      }

      @include tablet {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .accordion__expandable {
      padding-top: 10px;
      color: map-get($colors, "grey");
      font-size: 12px;
      line-height: 15px;
      font-weight: map-get($font-weight, "light");
      max-height: 0;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      visibility: hidden;
      opacity: 0;

      &.show {
        visibility: visible;
        opacity: 1;
        display: block;
        max-height: 30%;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }

      @include tablet {
        font-size: 17px;
        line-height: 21px;
      }

      @include desktop-lg {
        font-size: 18px;
        line-height: 22px;
      }

      @include desktop-xl {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  &__text {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &--bold {
      color: #9b9b9b;
      font-weight: map-get($font-weight, "black");
    }
  }
}
