@import "vars";
@import "mixins";

.performance {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background: url("../../assets/images/bg/performance/performance-sm.svg")
    no-repeat bottom;
  background-color: #fff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  z-index: 5;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../assets/images/bg/performance/performance-top-sm.svg")
      no-repeat;
    width: 174px;
    height: 227px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../../assets/images/bg/performance/performance-bottom-sm.svg")
      no-repeat;
    width: 174px;
    height: 227px;
  }

  &__wrapper {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include tablet {
    padding-top: 87px;
    padding-bottom: 130px;
    background: url("../../assets/images/bg/performance/performance-md.svg")
      no-repeat bottom;
    background-color: #fff;

    &:before {
      background: url("../../assets/images/bg/performance/performance-top-md.svg")
        no-repeat;
      width: 210px;
      height: 295px;
    }

    &:after {
      background: url("../../assets/images/bg/performance/performance-bottom-md.svg")
        no-repeat;
      width: 258px;
      height: 297px;
    }
  }

  @include desktop-lg {
    padding-top: 70px;
    padding-bottom: 180px;
    background: url("../../assets/images/bg/performance/performance-lg.svg")
      no-repeat bottom;
    background-color: #fff;

    &:before {
      background: url("../../assets/images/bg/performance/performance-top-lg.svg")
        no-repeat;
      width: 190px;
      height: 285px;
    }

    &:after {
      background: url("../../assets/images/bg/performance/performance-bottom-lg.svg")
        no-repeat;
      width: 257px;
      height: 297px;
    }
  }

  @include desktop-xl {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url("../../assets/images/bg/performance/performance-xl.svg")
      no-repeat bottom;

    &:before {
      background: url("../../assets/images/bg/performance/performance-top-xl.svg")
        no-repeat;
      width: 408px;
      height: 490px;
    }

    &:after {
      background: url("../../assets/images/bg/performance/performance-bottom-xl.svg")
        no-repeat;
      width: 377px;
      height: 592px;
    }
  }

  &__title-wrapper {
    text-align: center;
    padding: 0 0 48px;

    @include tablet {
      padding: 0 0 40px;
    }

    @include desktop-xl {
      padding: 0 0 65px;
    }
  }

  &__icon {
    margin-bottom: 17px;
    width: 106px;
    height: 57px;

    @include tablet {
      margin-bottom: 22px;
      width: 143px;
      height: 77px;

      @include desktop-xl {
        margin-bottom: 33px;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 23px;
    line-height: 28px;
    font-weight: map-get($font-weight, "black");

    @include tablet {
      font-size: 36px;
      line-height: 45px;
    }

    @include desktop-xl {
      font-size: 48px;
      line-height: 60px;
    }
  }

  &__note {
    padding-top: 16px;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: map-get($font-weight, "regular");

    @include tablet {
      padding-top: 50px;
      font-size: 18px;
      line-height: 22px;
    }

    @include desktop-lg {
      padding-top: 74px;
      font-size: 22px;
      line-height: 27px;
    }

    @include desktop-xl {
      padding-top: 16px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__advantages {
    display: flex;
    align-items: initial;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      max-width: 980px;
      justify-content: center;
    }

    @include desktop-xl {
      max-width: 1400px;
    }
  }
}

.advantage-block {
  box-shadow: 0 5px 10px #0000001a;
  background: map-get($colors, "white");
  border-radius: 10px;
  text-align: center;
  padding: 27px 20px;
  width: 46%;
  margin: 0 7px 25px 7px;
  z-index: 2;
  transition: all ease-in-out 0.4s;

  &:hover {
    background: map-get($colors, "red");

    & .highlighted-in-red {
      color: map-get($colors, "white");
    }

    .advantage-block__icon path {
      fill: map-get($colors, "white");
      stroke: map-get($colors, "white");
    }

    .advantage-block__icon g {
      fill: map-get($colors, "red");
      stroke: map-get($colors, "white");
    }

    .advantage-block__icon line {
      stroke: map-get($colors, "white");
    }

    .advantage-block__icon circle {
      fill: map-get($colors, "red");
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    margin: 0 0 25px;
  }

  @include tablet {
    width: 230px;
    margin: 0 7px 35px 7px;
  }

  @include desktop-xl {
    width: 330px;
    margin: 0 10px 40px 10px;
  }

  &__icon-wrapper {
    height: 45px;
    margin-bottom: 11px;

    @include tablet {
      height: 62px;
    }

    @include desktop-xl {
      height: 89px;
    }
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  &__text {
    font-weight: map-get($font-weight, "black");
    font-size: 12px;
    line-height: 15px;
    margin: 0;

    @include tablet {
      font-size: 16px;
      line-height: 20px;
    }

    @include desktop-xl {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
