@import "mixins";
@import "vars";

.table-wrapper {
  &--padding {
    padding: 25px;
  }
}

.mobile-cell {
  &__value {
    margin: 0;
  }

  &__title {
    margin: 0;
    text-align: start;
    font-weight: map-get($font-weight, "bold");
  }
}

.table-scroll {
  // box-shadow: 4px 3px 15px #00000029;
  width: 100%;
  overflow: visible; // Remove scrolling to display all data

  &--vertical {
    height: auto; // Display all content
    overflow: visible;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 25px;
    background-color: map-get($colors, "table-grey");
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #9b9b9b;
  }
}

.table-title-wrapper {
  text-align: center;
  padding: 15px 0 10px;
}

.table-title {
  font-weight: map-get($font-weight, "black");
  color: map-get($colors, "black");
  font-size: 36px;
  line-height: 45px;
  margin: 0 0 5px;

  &__subtitle {
    display: block;
    font-weight: map-get($font-weight, "regular");
    font-size: 18px;
    line-height: 22px;
  }
}

.table {
  background: map-get($colors, "white");
  border-radius: 15px;
  padding: 10px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  @include tablet {
    padding: 20px;
  }

  &--small-padding {
    padding: 0 5px 10px;

    @include tablet {
      padding: 0 20px 20px;
    }
  }

  &__head-row {
    &--grouped {
      .table__head-column {
        border-right: 1px solid map-get($colors, "table-grey");

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &__head-column {
    border-bottom: 1px solid map-get($colors, "black");
    padding: 10px 10px 15px;
    font-weight: map-get($font-weight, "bold");
    font-size: 10px;
    line-height: 13px;
    color: map-get($colors, "black");
    text-transform: capitalize;

    &:first-child {
      color: map-get($colors, "red");
    }

    &:nth-child(2) {
      border-left: 1px solid map-get($colors, "black");
    }

    @include tablet {
      font-size: 16px;
      line-height: 20px;
    }

    @include desktop-lg {
      font-size: 18px;
      line-height: 22px;
      min-width: 120px;
    }

    &--grouped {
      border: none;

      &:first-child {
        border-right: none;
      }
    }

    &--grouped:not(.table__head-column--empty) {
      color: map-get($colors, "white");
      background: map-get($colors, "red");
      box-shadow: 4px 3px 15px #00000029;
      border: 1px solid map-get($colors, "red");
      border-radius: 10px 10px 0 0;
      padding: 8px 10px;
      text-transform: uppercase;
      font-size: 7px;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__body-column {
    text-align: center;
    font-weight: map-get($font-weight, "light");
    font-size: 10px;
    line-height: 13px;
    color: map-get($colors, "black");
    text-transform: capitalize;
    border-bottom: 1px solid map-get($colors, "black");
    border-right: 1px solid map-get($colors, "table-grey");
    padding: 3px;

    &:first-child {
      font-size: 10px;
      border-right: none;

      @include tablet {
        font-size: 18px;
      }
    }

    &:nth-child(2) {
      border-left: 1px solid map-get($colors, "black");
    }

    &:last-child {
      border-right: none;
    }

    @include tablet {
      font-size: 16px;
      line-height: 20px;
      padding: 15px 10px;
    }
  }

  &__info-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // min-width: 150px;

    @include tablet {
      min-width: 210px;
    }
  }

  &__img-wrapper {
    padding-top: 10px;

    img {
      padding-right: 3px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__params {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__param {
    text-align: left;
    margin-right: 5px;
    width: 42px;

    @include tablet {
      width: 57px;
      margin-right: 15px;
    }
  }

  &__param-name {
    display: block;
    font-size: 11px;
    line-height: 14px;
    font-weight: map-get($font-weight, "bold");
    color: map-get($colors, "black");
  }

  &__param-value {
    display: block;
    font-size: 11px;
    line-height: 14px;
    font-weight: map-get($font-weight, "light");
    color: map-get($colors, "black");

    @include tablet {
      font-size: 16px;
      line-height: 20px;
    }

    &--up {
      color: #00ff66;
    }

    &--down {
      color: #ff0000;
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    &--row {
      flex-direction: row;
    }
  }

  &__btn {
    font-size: 7px;
    width: 41px;
    line-height: 16px;
    color: map-get($colors, "white");
    margin: 0 0 5px;
    transition: all 0.1s;
    border: 2px solid;
    transform: scale(1);
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      margin: 0;
    }

    @include tablet {
      font-size: 11px;
      width: 83px;
      line-height: 26px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &--inline {
      margin: 0 5px;
    }

    &--red {
      background: map-get($colors, "red-secondary");
      border-color: map-get($colors, "red-secondary");

      &:hover {
        color: map-get($colors, "red-secondary");
      }
    }

    &--green {
      background: map-get($colors, "light-green");
      border-color: map-get($colors, "light-green");

      &:hover {
        color: map-get($colors, "light-green");
      }
    }

    &:hover {
      background: map-get($colors, "white");
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 15px;

    @include tablet {
      padding: 0 0 20px;
    }

    &--bottom {
      padding: 15px 0 0;
      justify-content: flex-end;

      @include tablet {
        padding: 20px 0 0;
      }
    }

    &--single-block {
      justify-content: flex-end;
    }
  }

  &__searchbar {
    padding: 5px 8px 5px 20px;
    background-color: transparent;
    color: map-get($colors, "black");
    border-width: 1px;

    @include tablet {
      max-width: 330px;
    }

    &-icon {
      flex-shrink: 0;

      g,
      line {
        stroke: map-get($colors, "red");
      }
    }

    .search-bar__submit {
      border: 1px solid map-get($colors, "red");
      height: 29px;
      font-size: 14px;
      line-height: 18px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
        font-size: 16px;
        line-height: 20px;
        height: 36px;
      }
    }

    .search-bar__input {
      color: map-get($colors, "red");

      &::placeholder {
        color: map-get($colors, "red");
        font-size: 12px;
        line-height: 15px;

        @include tablet {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__dropdown-title {
    font-weight: map-get($font-weight, "bold");
    font-size: 16px;
    line-height: 20px;
    color: map-get($colors, "black");
    text-transform: capitalize;
    padding-right: 10px;

    @include desktop-lg {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__dropdown-select {
    border: 1px solid map-get($colors, "black");
    width: 71px;
    border-radius: 19px;
    padding: 5px 10px;

    .dropdown__title {
      color: map-get($colors, "black");
    }

    .dropdown__title-content {
      display: block;

      &:after {
        display: none;
      }

      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 40%;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-radius: 4px;
        border-color: map-get($colors, "black") transparent transparent
          transparent;
      }
    }
  }
}

.pagination {
  &__btn {
    @include button-supress();
    font-weight: map-get($font-weight, "bold");
    color: map-get($colors, "red");
    font-size: 18px;
    line-height: 22px;
    width: 34px;
    height: 28px;
    border: 1px solid map-get($colors, "red");
    border-radius: 9px;
    margin: 0 4px;
    transition: 0.3s ease-out;

    &:first-child {
      margin: 0 4px 0 0;
    }

    &:last-child {
      margin: 0 0 0 4px;
    }

    &:hover,
    &:active,
    &:focus {
      color: map-get($colors, "white");
      background: map-get($colors, "red");
    }

    &--arrow {
      width: 55px;
    }
  }
}

.tip {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__text {
    font-size: 11px;
    line-height: 14px;
    margin: 0;

    @include tablet {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
