@import "mixins";
@import "vars";

.top-market-layout {
  scroll-snap-align: start;
  position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 33px;
  // background: map-get($colors, "white");
  overflow: hidden;

  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  // @include tablet {
  //   padding-top: 108px;
  //   padding-bottom: 174px;
  //   background: url("../../assets/images/bg/top-market-page/right/bottom-md.svg")
  //     no-repeat bottom;
  // }

  // @include desktop-lg {
  //   padding-top: 40px;
  //   padding-bottom: 61px;
  //   background: url("../../assets/images/bg/top-market-page/right/bottom-lg.svg")
  //     no-repeat bottom;
  // }

  // @include desktop-xl {
  //   padding-top: 55px;
  //   padding-bottom: 70px;
  //   background: url("../../assets/images/bg/top-market-page/right/bottom-xl.svg")
  //     no-repeat bottom;
  // }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    z-index: 1;

    // @include tablet {
    //   max-width: 720px;
    // }

    // @include desktop-lg {
    //   max-width: 1200px;
    // }

    // @include desktop-xl {
    //   max-width: 1680px;
    // }
  }

  &__content {
    // box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: none;
    border-radius: 9px;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "red");
    text-align: center;
    position: relative;
    z-index: 1;

    @include tablet {
      margin: 0 0 30px;
      font-size: 36px;
      line-height: 45px;
    }

    @include desktop-lg {
      text-align: left;
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-xl {
      margin: 0 0 40px;
      font-size: 42px;
      line-height: 53px;
    }
  }

  &__btn {
    margin: 30px auto 0;
    position: relative;
    z-index: 1;

    @include tablet {
      margin: 40px auto 0;
    }

    @include desktop-xl {
      margin: 65px auto 0;
    }
  }
}

.top-market-layout--spreads {
  padding-top: 38px;
  padding-bottom: 90px;

  @include desktop-lg {
    padding-top: 38px;
    padding-bottom: 0;
    background: none;
  }

  // .top-market-layout__wrapper {
  //   width: 1102px;
  // }

  .top-market-layout__title {
    margin: 0 0 40px;
    font-size: 25px;
    line-height: 31px;
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "red");
    text-align: left;

    @include tablet {
      font-size: 34px;
      line-height: 42px;
    }

    @include desktop-lg {
      font-size: 38px;
      line-height: 48px;
    }

    @include desktop-xl {
      font-size: 42px;
      line-height: 53px;
    }
  }

  .top-market-layout__header {
    @include desktop-xl {
      margin-bottom: 70px;
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.top-market-layout--spreads-second {
  padding-top: 40px;
  padding-bottom: 0;

  @include tablet {
    padding-bottom: 0;
    background: none;
  }

  .top-market-layout__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    margin-top: 0;
    color: map-get($colors, "black");
    text-align: left;

    @include tablet {
      font-size: 20px;
      line-height: 25px;
    }

    @include desktop-lg {
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 86px;
    }

    @include desktop-xl {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 30px;
    }
  }
}
