@import "vars";
@import "mixins";

.trade-with-promotion {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background: url("../../assets/images/bg/trade-with.svg") no-repeat center;
  background-size: cover;
  background-color: #fff;
  z-index: 5;

  .content-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

    @include mobile {
      padding-top: 230px;
      padding-bottom: 240px;
      padding-left: $padding-sm;
      padding-right: $padding-sm;
    }

    @include tablet {
      max-width: 720px;
      padding-top: 300px;
      padding-bottom: 100px;
    }

    @include desktop-lg {
      max-width: 970px;
      padding-top: 300px;
      padding-bottom: 100px;
    }

    @include desktop-xl {
      max-width: 1680px;
      padding-top: 320px;
      padding-bottom: 240px;
    }

    @include desktop-2k {
      max-width: 2400px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-weight: map-get($font-weight, "light");
    font-size: 24px;
    line-height: 30px;
    color: map-get($colors, "red");
    text-transform: uppercase;

    @include desktop-xl {
      font-size: 50px;
      line-height: 63px;
    }
  }

  &__input {
    background-image: url("../../assets/images/icons/magnifier.svg");
    background-position: 20px 50%;
    background-repeat: no-repeat;
    background-size: 33px;
    box-shadow: 0 3px 24px #00000029;
    border: 3px solid map-get($colors, "red");
    border-radius: 114px;
    padding: 14px 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;

    @include small-mobile {
      padding: 14px 20px 14px 56px;
    }

    @include tablet {
      width: auto;
      max-width: 100%;
      min-width: 517px;
      padding: 14px 76px;
      background-position: 27px 50%;
    }

    @include desktop-xl {
      background-size: 63px;
      min-width: 725px;
      padding: 27px 25px;
      margin: 25px 0;
    }
  }

  &__input-text {
    display: flex;
    color: map-get($colors, "red");
    text-transform: uppercase;
    font-weight: map-get($font-weight, "black");
    font-size: 24px;
    line-height: 37px;
    overflow: hidden;
    padding-left: 15px;

    @include tablet {
      font-size: 30px;
      padding-left: 20px;
    }

    @include desktop-xl {
      font-size: 55px;
      line-height: 75px;
      padding-left: 70px;
    }
  }

  &__promo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

    @include tablet {
      padding-top: 53px;
    }

    @include desktop-lg {
      flex-direction: row;
    }

    @include desktop-xl {
      max-width: 1148px;
      padding-top: 215px;
    }
  }

  &__block {
    &:first-child {
      padding: 0 0 40px 0;

      @include desktop-lg {
        padding: 0 30px 0 0;
      }

      @include desktop-xl {
        padding: 0 60px 0 0;
      }
    }

    &:last-child {
      padding: 40px 0 0;
      border-top: 3px solid map-get($colors, "red");
      width: 100%;

      @include desktop-lg {
        width: auto;
        border-top: none;
        border-left: 3px solid map-get($colors, "red");
        padding: 15px 0 5px 30px;
      }

      @include desktop-xl {
        padding: 20px 0 10px 60px;
      }
    }
  }

  &__promo-text {
    margin: 0;
    color: map-get($colors, "red");
    text-align: center;
    font-weight: map-get($font-weight, "light");
    font-size: 18px;
    line-height: 22px;
    max-width: 295px;

    @include desktop-lg {
      text-align: right;
    }

    @include desktop-xl {
      max-width: 607px;
      font-size: 37px;
      line-height: 46px;
    }
  }

  &__btn-wrapper {
    border: 2px solid map-get($colors, "red");
    border-radius: 75px;
  }

  &__btn {
    position: relative;
    left: -8px;
    top: -8px;
    border: 2px solid map-get($colors, "red");
    background-color: map-get($colors, "red");
    color: map-get($colors, "white");
    font-weight: map-get($font-weight, "bold");
    border-radius: 75px;
    width: 100%;
    line-height: 58px;
    font-size: 19px;
    transition: all ease-in 0.4s;

    &:hover {
      background-color: map-get($colors, "white");
      color: map-get($colors, "red");
      border-color: map-get($colors, "red");
    }

    @include desktop-lg {
      width: 340px;
    }

    @include desktop-xl {
      left: -15px;
      top: -15px;
      margin: unset;
      width: 408px;
      line-height: 115px;
      font-size: 38px;
      box-shadow: 0 3px 24px #00000029;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    &--woman {
      width: 109px;
      height: 131px;
      top: 50px;
      right: 0;

      @include mobile {
        right: 15px;
      }

      @include tablet {
        width: 135px;
        height: 162px;
        top: 70px;
      }

      @include desktop-lg {
        top: 69px;
        width: 135px;
        height: 162px;
      }

      @include desktop-xl {
        top: 297px;
        width: 335px;
        height: 402px;
      }

      @include desktop-2k {
        top: 297px;
        width: 335px;
        height: 402px;
      }
    }

    &--man {
      left: 0;
      bottom: 37px;
      width: 141px;
      height: 168px;

      @include mobile {
        left: 15px;
      }

      @include tablet {
        bottom: unset;
        top: 29px;
        width: 176px;
        height: 209px;
      }

      @include desktop-lg {
        top: 30px;
        width: 176px;
        height: 209px;
      }

      @include desktop-xl {
        width: 315px;
        height: 376px;
        top: 207px;
      }

      @include desktop-2k {
        width: 315px;
        height: 376px;
        top: 207px;
      }
    }

    &--netflix {
      top: 35px;
      left: 24px;
      width: 18px;
      height: 32px;

      @include mobile {
        left: 50px;
      }

      @include tablet {
        top: 20px;
        left: 125px;
        width: 22px;
        height: 40px;
      }

      @include desktop-lg {
        top: 17px;
        left: 125px;
        width: 22px;
        height: 40px;
      }

      @include desktop-xl {
        top: 98px;
        left: 190px;
        width: 32px;
        height: 58px;
      }
    }

    &--dynamic-logo-2 {
      top: 156px;
      left: 57px;
      width: 35px;
      z-index: 1f;

      @include mobile {
        left: 115px;
      }

      @include tablet {
        top: 25px;
        left: 306px;
        width: 43px;
      }

      @include desktop-lg {
        top: 20px;
        left: 397px;
        width: 43px;
      }

      @include desktop-xl {
        top: 20px;
        left: 647px;
        width: 62px;
      }
    }

    &--dynamic-logo-3 {
      top: 97px;
      right: 188px;
      width: 34px;

      @include tablet {
        top: 200px;
        right: 250px;
        width: 43px;
      }

      @include desktop-lg {
        top: 215px;
        right: 385px;
        width: 43px;
      }

      @include desktop-xl {
        width: 61px;
        top: 152px;
        right: 643px;
      }
    }

    &--tesla {
      width: 35px;
      height: 35px;
      right: 30px;
      top: 30px;

      @include tablet {
        width: 44px;
        height: 44px;
        right: 75px;
        top: 25px;
      }

      @include desktop-lg {
        width: 44px;
        height: 44px;
        right: 80px;
        top: 25px;
      }

      @include desktop-xl {
        width: 63px;
        height: 63px;
        right: 214px;
        top: 95px;
      }
    }

    &--airbnb {
      bottom: 171px;
      left: 177px;
      width: 34px;
      height: 37px;

      @include tablet {
        bottom: unset;
        top: 280px;
        left: 101px;
        width: 43px;
        height: 46px;
      }

      @include desktop-lg {
        top: unset;
        bottom: 367px;
        left: 275px;
        width: 43px;
        height: 46px;
      }

      @include desktop-xl {
        left: 377px;
        bottom: 493px;
        width: 61px;
        height: 65px;
      }
    }

    &--dynamic-logo-1 {
      display: none;

      @include tablet {
        display: block;
        bottom: 320px;
        right: 355px;
        width: 42px;
      }

      @include desktop-lg {
        bottom: 203px;
        right: unset;
        left: 438px;
        width: 42px;
      }

      @include desktop-xl {
        left: 812px;
        bottom: 471px;
        width: 61px;
      }
    }

    &--grey-dot {
      width: 46px;
      height: 46px;
      right: 116px;
      top: 39px;

      @include tablet {
        right: 122px;
        top: 54px;
        width: 58px;
        height: 57px;
      }

      @include desktop-lg {
        right: 145px;
        top: 60px;
        width: 57px;
        height: 57px;
      }

      @include desktop-xl {
        width: 109px;
        height: 109px;
        right: 317px;
        top: 267px;
      }
    }

    &--red-dot {
      right: 102px;
      top: 178px;
      width: 12px;
      height: 12px;

      @include tablet {
        width: 15px;
        height: 15px;
        right: 125px;
        top: 227px;
      }

      @include desktop-lg {
        right: 128px;
        top: 227px;
        width: 15px;
        height: 15px;
      }

      @include desktop-xl {
        right: 329px;
        bottom: 447px;
        top: unset;
        width: 30px;
        height: 30px;
      }
    }

    &--meta {
      top: 205px;
      right: 48px;
      width: 34px;
      height: 23px;

      @include tablet {
        top: unset;
        bottom: 299px;
        left: 50px;
        width: 43px;
        height: 28px;
      }

      @include desktop-lg {
        bottom: 100px;
        left: 55px;
        width: 43px;
        height: 28px;
      }

      @include desktop-xl {
        left: 100px;
        bottom: 213px;
        width: 62px;
        height: 41px;
      }
    }

    &--amazon {
      bottom: 35px;
      left: 201px;
      width: 41px;
      height: 42px;

      @include tablet {
        left: 389px;
        bottom: 22px;
        width: 51px;
        height: 53px;
      }

      @include desktop-lg {
        bottom: 21px;
        left: 389px;
        width: 51px;
        height: 53px;
      }

      @include desktop-xl {
        left: 715px;
        bottom: 83px;
        width: 73px;
        height: 76px;
      }
    }

    &--bitcoin {
      width: 41px;
      height: 46px;
      right: 15px;
      bottom: 104px;

      @include tablet {
        width: 51px;
        height: 57px;
        right: 70px;
        bottom: 320px;
      }

      @include desktop-lg {
        width: 51px;
        height: 57px;
        right: 155px;
        bottom: 220px;
      }

      @include desktop-xl {
        right: 125px;
        bottom: 214px;
        width: 73px;
        height: 82px;
      }
    }
  }
}
